label * {
  font-size: 3em;
}

.form-container {
  border: none;
  margin: 2em;
  width: 50%;
  h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    padding-top: 1em;
  }
  a {
    color: #41B883;
    transition: 0.2s;
  }
  a:hover {
    color: #FD9636;
  }
  h1.title-form-headers {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #57998D;
    text-shadow: 3px 3px #0A4158;
  }
}

.form-container form {
  border-radius: 5px;
  margin: auto;
  padding: 0.5em;
  max-width: 700px;
  width: 95%;
  background-color: #0A4158;
  color: white;
  label {
    color: white;
    font-weight: bold;
  }
  input {
    border: none;
  }
  .field {
    margin: auto;
    width: 90%;
  }
  .actions {
    margin: auto;
    width: 90%;
    padding: 0;
  }
  input[type=submit] {
    background-color: #0A4158;
    border: 2px solid #FD9636;
    font-weight: bold;
    padding: 0.5em;
    width: 8em;
    color: #FD9636;
    text-transform: uppercase;
    transition: 0.2s;
  }
  input[type=submit]:hover {
    border: 2px solid #42b883;
    color: #42b883;
    cursor: pointer;
  }
}

.comment-form {
  margin-top: 0.75em;
  input[type=submit] {
    background-color: none;
    border: 2px solid #42b883;
    font-weight: bold;
    padding: 0.5em;
    width: 5em;
    color: #42b883;
    text-transform: uppercase;
    transition: 0.2s;
  }
  input[type=submit]:hover {
    border: 2px solid #FD9636;
    color: #FD9636;
    cursor: pointer;
    }
}


.post-form-container {
  border: none;
  margin: auto;
  width: 70%;
  h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    padding-top: 1em;
  }
  a {
    color: #41B883;
    transition: 0.2s;
  }
  a:hover {
    color: #FD9636;
  }
}

.post-form-container form {
  border-radius: 5px;
  margin: auto;
  padding: 2em;
  max-width: 700px;
  width: 100%;
  background-color: #0A4158;
  color: white;
  label {
    color: white;
    font-weight: bold;
  }
  input {
    border: none;
  }
  .field {
    margin: auto;
    width: 90%;
  }
  .actions {
    margin: auto;
    width: 90%;
    padding: 0;
  }
  input[type=submit], input[type=button] {
    background-color: #0A4158;
    border: 2px solid #FD9636;
    font-weight: bold;
    padding: 0;
    margin-right: 0.5em;
    width: 8em;
    color: #FD9636;
    text-transform: uppercase;
    transition: 0.2s;
  }
  input[type=submit]:hover, input[type=button]:hover {
    border: 2px solid #42b883;
    color: #42b883;
    cursor: pointer;
  }
}

.post-form {
  padding: 5em;
  input[type=submit].input-button {
    background-color: none;
    border: 2px solid #FD9636;
    padding: 0.5em;
    width: 7em;
    color: #FD9636;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    align-content: right;
  }
  input[type=submit].input-button:hover {
    border: 2px solid #42b883;
    color:  #42b883;
    cursor: pointer;
    }
}

.dropzone-box {
  border: 3px dotted black;
  background-color: #0A4158;
  font-family: monospace;
  font-size: 1em;
  font-weight: bold;
  color: #FD9636;
  padding: 1em;
  text-align: center;
  transition: 0.2s;
}

.dropzone-box:hover {
  border: 3px dotted #FD9636;
  cursor: pointer;
  background-color: white;
  color: black;
  opacity: 80%;
}

.form-margin {
  margin-top: 1em;
  margin-bottom: 1em;
}

.search-form form {
  margin-top: 1em;
  input.clear-button, input.input-button {
    padding: 0.5em;
  }
}

input[type='text'], input[type='text']:focus, textarea[type='text']#body, textarea[type='text']#body:focus, input[type='email'], input[type='password'], input[type='email']:focus, input[type='password']:focus {
  background-color: #CCDFED;
  color: #0A4158;
  border-radius: 5px;
}

textarea[type='text']#body.comment-body, textarea[type='text']#body.comment-body:focus {
  background-color: white;
  color: #0A4158;
}
