@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

.description {
  font-family: monospace;
  font-size: 1.1em;
  font-weight: bold;
  text-shadow: 2px 2px #41B883;
}

body {
  background: image-url("mountain-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #2A5447;
}

a#sign-up {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 7.5em;
  padding-right: 7.5em;
  margin-top: 1em;
  border-radius: 40px;
  width: 100px;
  background-color: #34495E;
  color: #FDA500;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.25em;
}

a#sign-in {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 7.5em;
  padding-right: 7.5em;
  margin-top: 1em;
  border-radius: 40px;
  width: 100px;
  background-color: #34495E;
  color: #FDA500;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.25em;
}

.splash-page-container {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  h1.welcome-header {
    font-family: 'Press Start 2P', cursive;
    color: #33495E;
    text-shadow: 4px 4px #41B883;
  }
}

.right-splash {
  padding-top: 7.7em;
}

.splash-page-tile {
  border: none;
  background-color: #7ed9b0;
  height: 110%;
  width: 100%;
  position: absolute;
  margin: auto;
  padding: 2em;
  color: #35495e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  h2, h1 {
    font-family: 'Staatliches', cursive;
  }
  span.index-tile-author {
    font-family: monospace;
    font-weight: bold;
    font-style: italic;
  }
  a {
    color: #347474;
    transition: 0.2s;
    background-color: none;
  }
  a:hover {
    color: #42b883;
  }
}

.post-tile-container {
  width: 60%;
  margin-top: 0.25em;
  margin-bottom: 2em;
}

.flash {
  text-align: center;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

.flash-notice {
  background-color: #93D9AA;
}

.flash-alert {
  background-color: #E96F73;
}

h1.app-title {
  font-family: 'Press Start 2P', cursive;
  color: #0A4158;
  font-size: 2em;
  text-shadow: 2px 2px white;
  transition: 0.2s;
  margin-left: 0.25em;
  a {
    i {
      font-size: 1.2em;
    }
  }
}

.top-bar, .top-bar ul, .top-bar a, .top-bar i {
  background-color: #42b883;
  a {
    color: #0A4158;
    transition: 0.2s;
  }
  i {
    font-size: 2em;
    padding: 0;
  }
}

.header-link a:hover {
  color: white;
}

.post-tile {
  border: none;
  background-color: white;
  opacity: 90%;
  border-radius: 5px;
  transition: 0.2s;
  margin-top: 0.75em;
  padding: 1em;
  color: #35495e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  h2, h1 {
    font-family: 'Staatliches', cursive;
  }
  span.index-tile-author {
    font-family: monospace;
    font-weight: bold;
    font-style: italic;
  }
  a {
    color: #347474;
    transition: 0.2s;
    background-color: none;
  }
  a:hover {
    color: #42b883;
  }
}

.enter-buttons li {
  list-style: none;
}

.enter-buttons input {
  background-color: #0A4158;
  border: none;
  color: white;
  border-radius: 4px;
  width: 8em;
  height: 2em;
  text-transform: uppercase;
  font-size: 0.8em;
  transition: 0.2s;
  text-align: center;
  padding: 0.25em;
  margin: 0.25em;
}

.enter-buttons input:hover {
  background-color: #0A4158;
  border: 1px solid #FD9636;
  color: #FD9636;
  cursor: pointer;
}

span.link-text {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.5em;
}
