@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
  background-image: url("https://art.pixilart.com/ba5ef73b87c96c4.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #2A5447;
}

.post-tile-container {
  width: 60%;
}

.flash {
  text-align: center;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

.flash-notice {
  background-color: #93D9AA;
}

.flash-alert {
  background-color: #E96F73;
}

h1.app-title {
  font-family: 'Press Start 2P', cursive;
  color: #0A4158;
  font-size: 2em;
  text-shadow: 2px 2px white;
  transition: 0.2s;
  margin-left: 0.25em;
  a {
    i {
      font-size: 1.2em;
    }
  }
}

.top-bar, .top-bar ul, .top-bar a, .top-bar i {
  background-color: #42b883;
  a {
    color: #0A4158;
    transition: 0.2s;
  }
  i {
    font-size: 2em;
    padding: 0;
  }
}

.header-link a:hover {
  color: white;
}

.post-tile {
  border: none;
  background-color: white;
  opacity: 90%;
  border-radius: 5px;
  transition: 0.2s;
  margin-top: 0.75em;
  padding: 1em;
  color: #35495e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  h2, h1 {
    font-family: 'Staatliches', cursive;
  }
  span.index-tile-author {
    font-family: monospace;
    font-weight: bold;
    font-style: italic;
  }
  a {
    color: #347474;
    transition: 0.2s;
    background-color: none;
  }
  a:hover {
    color: #42b883;
  }
}

.enter-buttons li {
  list-style: none;
}

.enter-buttons input {
  background-color: #0A4158;
  border: none;
  color: white;
  border-radius: 4px;
  width: 8em;
  height: 2em;
  text-transform: uppercase;
  font-size: 0.8em;
  transition: 0.2s;
  text-align: center;
  padding: 0.25em;
  margin: 0.25em;
}

.enter-buttons input:hover {
  background-color: #0A4158;
  border: 1px solid #FD9636;
  color: #FD9636;
  cursor: pointer;
}

span.link-text {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.5em;
}
