.show-post-tile {
  width: 75%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 0.2s;
  margin-top: 0.75em;
  padding: 1em;
  color: #35495e;
  h3, h2, h1 {
    font-family: 'Staatliches', cursive;
  }
  a {
    color: #347474;
    transition: 0.2s;
    background-color: none;
  }
  a:hover {
    color: #42b883;
  }
}

.post-title {
  border-bottom: 2px solid #42B883;
}

.post-author {
  font-style: italic;
  font-weight: bold;
  font-family: monospace;
}

.hide-comment-form {
  display: none;
}

.display-comment-form {
  display: contents;
}

.comments-container {
  padding: 1.5em;
}

.comment-button button {
  background-color: none;
  font-size: 0.75em;
  border: 1px solid #FD9636;
  padding: 0.5em;
  width: 6em;
  color: #FD9636;
  transition: 0.2s;
  cursor: pointer;
  margin-left: 0.25em;
}

.comment-tile {
  padding: 1em;
  margin-bottom: 0.5em;
  .comment-user {
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 0;
  }
  .comment-text {
    padding: 0.5em;
    margin: 0;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
  }
  .comment-date {
    font-family: monospace;
    font-weight: bold;
    margin-top: 0;
  }
}

.comment-user {
  font-family: monospace;
  font-weight: bold;
  margin-bottom: 0;
}

.votes-tile {
  padding-left: 0;
  margin-left: 0;
  .vote-number-red, .vote-number-green {
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
  }
  .vote-number-red {
    color: red;
  }
  .vote-number-green {
    color: green;
  }
  button {
    background-color: none;
    font-size: 1.75em;
    border: none;
    padding: 0.5em;
    margin-right: 0.25em;
    width: 1.5em;
    color: #FD9636;
    transition: 0.2s;
    cursor: pointer;
    margin-left: 0.25em;
  }

}
